
Cython==3.0.8
fastapi==0.109.0
numpy==1.26.3

pydantic==1.10.9

requests==2.31.0

zstandard==0.22.0
ollama==0.1.4
langchain==0.1.8
langchain-community==0.0.21
langchain-core==0.1.25
langchain-openai==0.0.6
langserve==0.0.45
langsmith==0.1.5
uvicorn==0.22.0
llama_index==0.9.46